# Project 6: Validation of S3 Gold Layer

In [1]:
import pandas as pd
import glob

## 1) gold_booking_time_analysis

In [2]:
# List all Parquet files in folder
files = glob.glob("../data/Gold/gold_booking_time_analysis/*.parquet")
display(files)

# Read and concatenate them
df_gold_booking_time_analysis = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_gold_booking_time_analysis.head())
df_gold_booking_time_analysis.info()

['../data/Gold/gold_booking_time_analysis\\part-00000-e0288799-c164-4e85-b97a-852401db9d45-c000.snappy.parquet',
 '../data/Gold/gold_booking_time_analysis\\part-00002-4a87abae-5921-4880-b4f2-4603c73d585a-c000.snappy.parquet',
 '../data/Gold/gold_booking_time_analysis\\part-00005-18896e56-3920-4c31-aa17-7bdc2c2f7fe5-c000.snappy.parquet',
 '../data/Gold/gold_booking_time_analysis\\part-00008-d2230bae-9638-41c8-b72c-1fcdfbeac2ec-c000.snappy.parquet',
 '../data/Gold/gold_booking_time_analysis\\part-00011-4d9cc4f8-543b-4133-8a7d-63366c3ab74d-c000.snappy.parquet']

    channel  booking_hour  booking_day_of_week  bookings_count
0  facebook          16.0                  5.0               7
1  facebook          15.0                  2.0               5
2  facebook           0.0                  5.0               1
3  facebook           0.0                  1.0               2
4  facebook          14.0                  2.0               5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   channel              192 non-null    object
 1   booking_hour         191 non-null    float64
 2   booking_day_of_week  191 non-null    float64
 3   bookings_count       192 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.1+ KB

In [3]:
df_gold_booking_time_analysis['channel'].unique()

array(['facebook', 'youtube', 'tiktok', 'others'], dtype=object)

In [4]:
df_gold_booking_time_analysis[df_gold_booking_time_analysis['channel'] == 'youtube']

    channel  booking_hour  booking_day_of_week  bookings_count
77  youtube          21.0                  1.0               1
78  youtube           0.0                  3.0               1
79  youtube          15.0                  2.0               1
80  youtube          13.0                  3.0               1
81  youtube          18.0                  5.0               1
82  youtube          21.0                  2.0               2
83  youtube          19.0                  6.0               1

## 2) gold_cpb_by_channel

In [5]:
# List all Parquet files in folder
files = glob.glob("../data/Gold/gold_cpb_by_channel/*.parquet")
display(files)

# Read and concatenate them
df_gold_cpb_by_channel = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_gold_cpb_by_channel.head())
df_gold_cpb_by_channel.info()

['../data/Gold/gold_cpb_by_channel\\part-00000-fde0fbbd-affd-494c-9172-75679f25077d-c000.snappy.parquet']

    channel  total_bookings_count  total_spend         cpb
0    others                  9330         0.00     0.00000
1  facebook                   283     20260.42    71.59159
2   youtube                     8     20207.43  2525.92875
3    tiktok                     0     13593.57     0.00000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   channel               4 non-null      object
 1   total_bookings_count  4 non-null      int64
 2   total_spend           4 non-null      float64
 3   cpb                   4 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 260.0+ bytes

## 3) gold_channel_attribution

In [6]:
# List all Parquet files in folder
files = glob.glob("../data/Gold/gold_channel_attribution/*.parquet")
display(files)

# Read and concatenate them
df_gold_channel_attribution = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_gold_channel_attribution.head())
df_gold_channel_attribution.info()

['../data/Gold/gold_channel_attribution\\part-00000-6d7ad8b8-e485-4894-84f3-a20472136a1b-c000.snappy.parquet']

,channel,total_bookings_count,total_spend,cpb,rank_by_volume,rank_by_cpb
0,others,9330,0.00,0.00000,1,1
1,tiktok,0,13593.57,0.00000,4,1
2,facebook,283,20260.42,71.59159,2,2
3,youtube,8,20207.43,2525.92875,3,3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   channel               4 non-null      object
 1   total_bookings_count  4 non-null      int64
 2   total_spend           4 non-null      float64
 3   cpb                   4 non-null      float64
 4   rank_by_volume        4 non-null      int32
 5   rank_by_cpb           4 non-null      int32
dtypes: float64(2), int32(2), int64(1), object(1)
memory usage: 292.0+ bytes

## 4) gold_daily_bookings_by_channel

In [7]:
# List all Parquet files in folder
files = glob.glob("../data/Gold/gold_daily_bookings_by_channel/*.parquet")
display(files)

# Read and concatenate them
df_gold_daily_bookings_by_channel = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_gold_daily_bookings_by_channel.head())
df_gold_daily_bookings_by_channel.info()

['../data/Gold/gold_daily_bookings_by_channel\\part-00000-9a76f5d6-e8ac-4cbd-8ec0-9c7c0d2fa8ab-c000.snappy.parquet',
 '../data/Gold/gold_daily_bookings_by_channel\\part-00002-79185500-1410-432c-9b97-f6340a54b552-c000.snappy.parquet',
 '../data/Gold/gold_daily_bookings_by_channel\\part-00005-f96788ce-6eae-4933-92a4-528841af9d71-c000.snappy.parquet',
 '../data/Gold/gold_daily_bookings_by_channel\\part-00008-db7d6af0-22c6-4fbe-9c1f-e3574cf6eee1-c000.snappy.parquet',
 '../data/Gold/gold_daily_bookings_by_channel\\part-00011-f9671050-1a8b-47c0-8a22-230b7bd0adfe-c000.snappy.parquet']

  booking_date   channel  bookings_count  booking_week
0   2026-01-18  facebook              27             3
1   2026-01-25  facebook               0             4
2   2026-02-13  facebook               0             7
3   2026-01-14  facebook              13             3
4   2026-01-31  facebook               0             5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   booking_date    116 non-null    datetime64[ns]
 1   channel         116 non-null    object
 2   bookings_count  116 non-null    int64
 3   booking_week    116 non-null    int32
dtypes: datetime64[ns](1), int32(1), int64(1), object(1)
memory usage: 3.3+ KB

## 5) gold_meeting_load_per_employee

In [8]:
# List all Parquet files in folder
files = glob.glob("../data/Gold/gold_meeting_load_per_employee/*.parquet")
display(files)

# Read and concatenate them
df_gold_meeting_load_per_employee = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_gold_meeting_load_per_employee.head())
df_gold_meeting_load_per_employee.info()

['../data/Gold/gold_meeting_load_per_employee\\part-00000-7f216ed2-6ec5-4262-a231-f2e14e6159c3-c000.snappy.parquet']

                                user_id  total_meetings_count
0  030a66c4-ad31-42a1-9568-fda1cf399cef                    24
1  da226a81-f340-42b1-87b6-adf44d649dd3                    19
2  b7a24d00-d0eb-495f-bb86-241ede6e81f2                    20
3  98c10b79-1c4d-4135-8bd6-48bf7ec14925                   391
4  e03e8f12-1a32-48e5-b01f-1a5996a50f10                    19

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               61 non-null     object
 1   total_meetings_count  61 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB